{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid d-grid">
    <h1
      id="about-us-title"
      class="mx-auto mt-2 mb-5 fw-bold font-monospace border-bottom border-danger"
    >
      SOS Hotline in Chennai
    </h1>
    <div class="container-sm mx-auto">
        <ul class="list-group">
            <li class="list-group-item">
                <h4>Sneha Suicide Prevention Centre</h4>
                Contact Number: 044-24640050<br>
                <a class="link-info text-decoration-none" href="https://snehaindia.org" target="_blank">https://snehaindia.org</a>
            </li>
            <li class="list-group-item">
                <h4>Tamil Nadu State Health Department's Suicide Helpline</h4>
                Contact Number: 104<br>
                <a class="link-info text-decoration-none" href="https://www.tn.gov/behavioral-health/need-help.html" target="_blank">https://tnSHDSuicideHelpline</a>
            </li>
            <li class="list-group-item">
                <h4>Natpudan Ungalodu-Mananala Sevai (Tele-MANAS)</h4>
                Contact Number: 14416<br>
                <a class="link-info text-decoration-none" href="https://www.nhm.tn.gov.in/en/node/6277" target="_blank">https://www.nhm.tn.gov.in</a>
            </li>
            <li class="list-group-item">
                <h4>iCALL</h4>
                Contact Number: +91-9152987821<br>
                <a class="link-info text-decoration-none" href="https://icallhelpline.org" target="_blank">https://icallhelpline.org</a>
            </li>
            <li class="list-group-item">
                <h4>Tele-MANAS (National Mental Health Helpline)</h4>
                Contact Number: 14416<br>
                <a class="link-info text-decoration-none" href="https://telemanas.mohfw.gov.in/home" target="_blank">https://telemanas.mohfw.gov.in/home</a>
            </li>     
        </ul>
    </div>
</div>

{%endblock content%}